@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap");
body {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}
.text {
  font-size: 0.8em;
}
.text-info {
  font-size:0.8rem;
}
.title {
   font: {
      size: 1rem;
      weight: 500;
    }
}
.big-text {
  font: {
    size: 1.3rem;
    weight: 600;
  }
}
