// general styling
*,*:after,*:before{
   padding: 0;
   margin: 0;
}
li{
   list-style: none;
}
.color-web{
   background-color: $primaryColor;
   color: $primaryWhite;
}
.color-bg{
   background-color: $primaryBgColor;
   color: $primaryBlack;
}
.color-list{
   background-color: $primaryWhite;
   color: $primaryBlack;
}
.row{
   display: flex;
   flex-direction: row;
}
.col{
   display: flex;
   flex-direction: column;
}
.al-jus-cen{
   align-items: center;
   justify-content: center;
}
.al-cen-between{
   align-items: center;
   justify-content: space-between;   
}
.al-start{
   align-items: flex-start;
}
.fw{
   width: 100%;
}
input{
   background-color: transparent;
   color: $primaryWhite;
   border: none;
   font-family: inherit;
   font-size: inherit;
   outline: none;
}
button{
   @extend input;
   color: inherit;
}