.theme-icon,.i-size,.img-size,.close-btn,.list-icon > div{
   cursor: pointer;
}
.i-size{
   width: 25px;
}
.theme-icon{
   width:30px;
}
.img-size{
   width: 15px;
   margin-right: 10px;
}
.close-btn{
   width: 30px;
   position: absolute;
   top: 5px;
   right: 5px;
}