// individual styling
nav {
  padding: 16px 13px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  svg {
    margin: 0 10px;
  }
  .input-div {
    width: 52%;
    align-items: center;
    input {
      color: $primaryWhite;
    }
    input::placeholder {
      color: $primaryWhite;
    }
    input::-webkit-input-placeholder {
      color: $primaryWhite;
    }
    input::-moz-placeholder {
      color: $primaryWhite;
    }
  }
}

//=============================
//                     tasks ui
//=============================
ul {
  width: 100%;
  li {
    padding: 6px 8px;
    margin: 15px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px var(--shadow);
    .list-item {
      position: relative;
      padding-left: 12px;
      width: auto;

      div {
        padding: 6px 0;
      }
      .reminder {
        background-color: #892be21e;
        color: var(--main-color);
        padding: 3px 10px;
        border-radius: 10px;
        margin-top: 5px;
      }
      .list-icon {
        display: none;
        position: absolute;
        top: -6px;
        right: -9px;
        background-color: var(--light-background);
        width: 130px;
        height: auto;
        z-index: 99;
        padding: 10px;
        cursor: auto;
        .list-icon > div {
          border-bottom: 1px solid #eee;
        }
      }
    }
    .list-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background-color: var(--main-color);
      border-radius: 15px;
      display: block;
    }

    // if priority set
    .priority {
      .reminder {
        background-color: #ff606041;
        color: #f92525;
      }
    }
    .priority::after {
      background-color: #f92525;
    }
  }
  svg {
    margin-right: 6px;
  }
}

//=============================
//               show modal btn
//=============================
.fab {
  background-color: var(--main-color);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: $primaryWhite;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 1;
  svg {
    width: 32px;
  }
}

//=============================
//                    modal btn
//=============================
.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  // visibility: hidden;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.56);
}

//=============================
//            add tasks form ui
//=============================
form {
  position: relative;
  background-color: var(--light-background);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  height: auto;
  margin-top: 20px;
  .input-group {
    padding: 10px 0;
    input {
      // background-color: rgba(227, 227, 227, 0.37);
      background-color: rgba(189, 189, 189, 0.37);
      color: var(--primaryBlack);
      padding: 10px;
      border-radius: 6px;
    }
  }
  button {
    background-color: var(--main-color);
    padding: 10px;
    color: $primaryWhite;
    border-radius: 6px;
    margin-top: 20px;
  }
}

//==============================
//                responsiveness
//==============================
@media (min-width: 768px) {
  ul,
  form {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  ul,
  form {
    width: 40%;
  }
}
